.group-view {
  display: flex;
  background-color: #F3EFF5;

  font-family: "LibertinusSans";
  transition: all 0.2s ease;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  padding: 5px;
}

.view-area {
  border-top: 0.5px solid rgb(10, 17, 40);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#revokeAdmin, #addAdmin {
  width: 200px;
}

#submit {
  background-color: rgb(18,130,162);
  color: white;
}