.info-area {
  height: 40%;
  width: 70vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.group-view {
  display: flex;
  background-color: #F3EFF5;

  font-family: "LibertinusSans";
  transition: all 0.2s ease;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  padding: 0px;
}

.view-area {
  border-top: 0.5px solid rgb(10, 17, 40);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.posts {
  border-top: 0.5px solid rgb(10, 17, 40);
  height: 60%;
  width: 70vw;

  gap: 20px 20px;
}

/* post input */
.text-input {
  height: 100px;
  border: 0.5px solid black;
  border-radius: 5px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[type="post"] {
  width: 400px;
  height: 50px;
}

input[type="reply"] {
  width: 230px;
  height: 50px;
}

#revokeAdmin, #addAdmin {
  width: 200px;
}

#submit {
  background-color: rgb(18,130,162);
  color: white;
}

/* posts style */

.post-container {
  background-color: #F3EFF5;
  border: 2px solid #454955;
  border-radius: 6px;
  padding: 15px;

  gap: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  font-family: "LibertinusSans";
  transition: all 0.2s ease;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100px;
}

.posts-area {
  height: 100px;
  border: 0.5px solid black;
  border-radius: 5px;
}

.reply {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reply-input {
  width: 200px;
  height: 75px;
}

div[type="flag-and-delete"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

button[type="delete"] {
  width: 50px;
  border-radius: 5px;
  background-color: #87BCDE;
}

button[type="flag"] {
  width: 50px;
  border-radius: 5px;
  background-color: #87BCDE;
}

button[type="reply-button"] {
  width: 100px;
  border-radius: 5px;
  background-color: #87BCDE;
}

/* replies style */

.reply-container {
  background-color: #F3EFF5;
  border: 2px solid #454955;
  border-radius: 6px;
  padding: 15px;

  gap: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  font-family: "LibertinusSans";
  transition: all 0.2s ease;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 300px;
  height: 50px;
}