html,
body {
  margin: 0;
  padding: 0;
}

/* header styles*/

.header {
  background: rgb(0,31,84);
  height: 12vh;
  width: 100vw;
  
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
} 

.social-media-title {
  border: 0.5px solid rgb(10, 17, 40);
  height: 100%;
  width: 75vw;
  
  font-size: 56px;
  padding: 0px;
  color: #fff;
} 

.profile-picture {
  background: rgb(3,64,120);
  height: 100%;
  width: 10vw;
  
  display: flex;
  justify-content: center;
  align-items:center;
} .img {
  border: 0.5px solid rgb(10, 17, 40);
  background-color: #fff;
  
  height: 60px;
  width: 60px;
  border-radius: 60px;
} 

.username {
  border-left: 0.5px solid rgb(10, 17, 40);
  height: 100%;
  width: 15vw;
  
  font-size: 28px;
  padding: 0px;
  color: #fff;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* top navbar */

.top-navbar {
  background: rgb(3,64,120);
  border: 0.5px solid rgb(10, 17, 40);
  height: 6vh;
  width: 100vw;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.home-link {
  border-right: 0.5px solid rgb(10, 17, 40);
  height: 100%;
  width: 15vw;
  
  display: flex;
  justify-content:center;
  align-items:center;
}

.profile-link {
  border-left: 0.5px solid rgb(10, 17, 40);
  height: 100%;
  width: 15vw;
  
  display: flex;
  justify-content:center;
  align-items:center;
}

/* main container */

.main-container {
  display: flex;
  flex-direction: row;
  height: 82vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

/*side navbar*/

.side-navbar {
  height: 100%;
  width: 15vw;
  background: #fff;
} button {
  border: 0.5px solid rgb(10, 17, 40);
  height: 5vh;
  width: 15vw;
  background: rgb(18,130,162);
  
  display: flex;
  justify-content:center;
  align-items:center;
}

/*updates area*/

.main-area {
  border: 0.5px solid rgb(10, 17, 40);
  height: 100%;
  width: 70vw;
}

.info-area {
  height: 40%;
  width: 70vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
}

#otherName {
    height: 10%;
}

#firstMsg {
    height: 70%;
}

#sendFirstMsg {
    align-self: center;
    height: 20%;
}

.convo-area {
  border-top: 0.5px solid rgb(10, 17, 40);
  height: 60%;
  width: 70vw;

  gap: 20px 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}
/*live updates*/

.live-updates {
  border-top: 0.5px solid rgb(10, 17, 40);
  background: #fff;
  height: 100%;
  width: 15vw;
}

/* groups style */

.convo-container {
  display: flex;
  background-color: #F3EFF5;
  border: 2px solid #454955;
  border-radius: 6px;
  padding: 15px;

  gap: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  font-family: "LibertinusSans";
  transition: all 0.2s ease;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100px;
}

.convo-container:hover {
  box-shadow: none;
  filter: contrast(1.15);
}

.convo-container:active {
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.25);
}


.convo-info {
  border: 0px solid #454955;
  border-radius: 4px;
} ul, li {
  font-size: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}